/* // *** ebowden2, jamatz: 02-14-2007: Created mylogsidebar.css */

#sbMyLogSidebar {
	background-color:#6699CC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
}

#SearchBox {
color:#CC66CC;
}

#SearchBoxLabel {

float:left;
}

